<p>Witaj nowy graczu. Poniżej znajdują się dane do zalogowania.</p>

<br><br>

<table>
    <tr>
        <td>Login:</td>
        <td>{{ user.login }}</td>
    </tr>
    <tr>
        <td>Hasło</td>
        <td>{{ user.password }}</td>
    </tr>
</table>